<!DOCTYPE html>

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/css/style.css">
        <title>Skriven</title>
    </head>
<body>
    <div>
        <header>
        <nav class="barra-navegacao">
            <a href="index.html"></a>
            <a href="perfil.html" class="perfil-link">
                <img class="perfil" src="../public/images/botao-perfil.png" alt="perfil">
                <img class="user-icon" src="../public/symbols/Union-user-icon.png" alt="user">
            </a>
            <img src="../public/images/logo-skriven.png" alt="Logo" class="nav-logo">
            <img src="../public/images/botao-menu-perfil.png" alt="botao-menu" class="botao-menu">
        </nav>
    </header>
    </div>
    <div class="botao-voltar-container">
        <img src="../public/images/botao-sair.png" alt="voltar">
        <div class="overlay-text">voltar</div>
        <a href="selectMultiplayerPage.html"></a>
    </div>
</body>
</html>