<!DOCTYPE html>

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="../public/css/style.css">-->
        <link rel="stylesheet" href="/css/offcanvas.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/modoSp.css">
        <title>Skriven</title>
    </head>
<body>
    
    <div>
        <%- include("partials/header") %>
        <!--<header>
        <nav class="barra-navegacao">
            <a href="index.html"></a>
            <a href="perfil.html" class="perfil-link">
                <img class="perfil" src="../public/images/botao-perfil.png" alt="perfil">
                <img class="user-icon" src="../public/symbols/Union-user-icon.png" alt="user">
            </a>
            <img src="../public/images/logo-skriven.png" alt="Logo" class="nav-logo">
            <img src="../public/images/botao-menu-perfil.png" alt="botao-menu" class="botao-menu">
        </nav>
    </header>-->
    </div>

    <div class="geral-modos-sp">
        <div class="botao-voltar-container">
            <!--<img src="../public/images/botao-sair.png" alt="voltar">-->
            <img src="/images/botao-sair.png" alt="voltar">
            <div class="overlay-text">Voltar</div>
            <!--<a href="selectMultiplayerPage.html"></a>-->
            <a href="/selectMultiplayerPage"></a>
        </div>
        <div class="modos-singleplayer-container">

    <!-- contra-relógio -->
            <div class="coluna">
                <div class="titulo-container">
                    <!--<img src="../public/images/nome-modo.png" class="bg-titulo">-->
                    <img src="/images/nome-modo.png" class="bg-titulo">


                    <div class="titulo-conteudo">
                        <!--<img src="../public/symbols/contra-relogio.png" class="icon-titulo-cr">-->
                        <img src="/symbols/contra-relogio.png" class="icon-titulo-cr">
                        <h5>Contra-relógio</h5>
                    </div>
                </div>

                <div class="lista" id="timer-options">
                    <!--<img src="../public/images/fundo-opcoes.webp" class="bg-opcoes">-->
                    <img src="/images/fundo-opcoes.webp" class="bg-opcoes">
                    <div class="lista-opcoes">
                        <div class="item">Não</div>
                        <div class="item">30s</div>
                        <div class="item">60s</div>
                        <div class="item">Personalizado</div>
                    </div>
                <input type="number" id="custom-timer" placeholder="segundos" min="1" style="display: none;">
                </div>
            </div>

    <!-- desafio -->
            <div class="coluna">
                <div class="titulo-container">
                    <!--<img src="../public/images/nome-modo.png" class="bg-titulo">-->
                    <img src="/images/nome-modo.png" class="bg-titulo">


                    <div class="titulo-conteudo">
                        <!--<img src="../public/symbols/estrela.png" class="icon-titulo-desafio">-->
                        <img src="/symbols/estrela.png" class="icon-titulo-desafio">
                        <h5>Desafio</h5>
                    </div>
                </div>

                <div class="lista" id="challenge-options">
                    <!--<img src="../public/images/fundo-opcoes.webp" class="bg-opcoes">-->
                    <img src="/images/fundo-opcoes.webp" class="bg-opcoes">
                    <div class="lista-opcoes">
                        <div class="item">Não</div>
                        <div class="item">Objetivo: nº de palavras</div>
                        <div class="item">Mín. letras</div>
                        <div class="item">Máx. letras</div>
                    </div>
                <input type="number" id="custom-num" placeholder="palavras" min="1" style="display: none;">
                <input type="number" id="custom-min" placeholder="letras" min="2" style="display: none;">
                <input type="number" id="custom-max" placeholder="letras" min="2" style="display: none;">
                </div>
            </div>
        </div>
        <button id="start-game" class="image-button" disabled>
            <!--<img src="../public/images/retangulo-verde-botao-login.png" alt="botao-jogar">-->
            <img src="/images/retangulo-verde-botao-login.png" alt="botao-jogar">
            <span>Jogar</span>
        </button>
    </div>

    
<!--<script src="../public/js/modoJogoSp.js" defer></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/paginaJogoSp.js" defer></script>
<script src="/js/script.js" defer></script>
<script src="/js/modoJogoSp.js" defer></script>
</body>
</html>