<!DOCTYPE html>

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/css/style.css">
        <title>Skriven</title>
    </head>
<body>
        <header>
        <a href="index.html"><img class="login" src="../public/images/botao-sair.png" alt="sair"></a>
        <a href="loginPage.html"><img class="perfil" src="../public/images/botao-login.png" alt="login"></a>
        <a href="perfil.html"><img class="perfil" src="../public/images/botao-perfil.png" alt="perfil utilizador"></a>
        
    </header>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aut amet ad dolorum quae eos porro aliquam et minima impedit, in adipisci commodi ullam laborum accusamus cumque dolor soluta voluptate?</p>
    
</body>

</html>