<!DOCTYPE html>

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/css/style.css">
        <title>Skriven</title>
    </head>
<body>
    <div>
        <header>
            <nav class="barra-navegacao">
            <a href="index.html"></a>
            <a href="perfil.html"><img class="perfil" src="../public/images/botao-perfil.png" alt="perfil"></a>
            <img src="../public/images/logo-skriven.png" alt="Logo" class="nav-logo">
            <img src="../public/images/botao-menu-perfil.png" alt="botao-menu" class="botao-menu">
            </nav>
        </header>
        <div class="botao-voltar-container">
            <img src="../public/images/botao-sair.png" alt="voltar">
            <div class="overlay-text">voltar</div>
            <a href="paginaInicial.html"></a>
        </div>
        <div class="login-container">
            <img src="../public/images/fundo-estrutura-login.png" alt="fundo-login" class="fundo-login">
            <div class="user-icon-container">
                <img src="../public/symbols/user-icon-2.png" alt="user-icon" class="user-icon-img">
            </div>     
            <div id="form-area-login"></div>
            <div class="botao-login-container">
                <img src="../public/images/botao-login.png" alt="botao-login" class="botao-login">
                <div class ="botao-login-verde">
                    <img src="../public/images/retangulo-verde-botao-login.png" alt="botao-login-verde" class="botao-login-verde">
                </div>
                <div class="overlay-text-login">Login</div>
            </div>
            <div class="login-signup">
                <a href="signupPage.html">Sign Up</a>
            </div>
        </div>
    </div>
<script src="../public/js/script.js"></script>
</body>

</html>