<!DOCTYPE html>

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/css/style.css">
        <title>Skriven</title>
        
    </head>
<body>
    <div>
        <%- include("partials/header") %>
        <!--<header>
            <nav class="barra-navegacao">
            <a href="index.html"></a>
            <a href="perfil.html" class="perfil-link">
                <img class="perfil" src="../public/images/botao-perfil.png" alt="perfil">
                <img class="user-icon" src="../public/symbols/Union-user-icon.png" alt="user">
            </a>
            <img src="../public/images/logo-skriven.png" alt="Logo" class="nav-logo">
            <img src="../public/images/botao-menu-perfil.png" alt="botao-menu" class="botao-menu">
            </nav>
        </header>-->
        <div class="botao-voltar-container">
            <img src="/images/botao-sair.png" alt="voltar">
            <div class="overlay-text">Voltar</div>
            <a href="paginaInicial.html"></a>
        </div>
        <div class="login-container">
            <img src="../public/images/fundo-estrutura-login.png" alt="fundo-login" class="fundo-login">
            <div class="user-icon-container">
                <img src="../public/symbols/user-icon-2.png" alt="user-icon" class="user-icon-img">
            </div>     
            <div id="form-area-login"></div>
                <div class="botao-login-container">
                    <img src="../public/images/botao-login.png" alt="botao-login" class="botao-login">
                    <a href="selectMultiplayerPage.html" id="login-link"> <!--adicionei o id login-link para testar a validacao-->
                        <div class ="botao-login-verde">
                            <img src="../public/images/retangulo-verde-botao-login.png" alt="botao-login-verde" class="botao-login-verde">
                        </div>
                        <div class="overlay-text-login">Login</div>
                    </a>
                </div>
            <div class="login-signup">
                <a href="signupPage.html">Sign Up</a>
            </div>
        </div>
    </div>
<script src="../public/js/script.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>