<!DOCTYPE html>

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="../public/css/style.css">-->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/offcanvas.css">

        <title>Skriven</title>
    </head>
<body>
<div>
    <%- include("partials/header") %>
    <!--<header>
        <nav class="barra-navegacao">
            <a href="index.html"></a>

            <img src="../public/images/logo-skriven.png" alt="Logo" class="nav-logo">

            <button class="botao-menu border-0 bg-transparent p-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#menuLateral" aria-controls="menuLateral">
                <img src="../public/images/botao-menu-perfil.png" alt="botao-menu" class="botao-menu">
            </button>
            <div class="dropdown user-dropdown">
                <a href="#"
                class="d-flex align-items-center text-decoration-none"
                data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="perfil" src="../public/images/botao-perfil.png" alt="perfil">
                    <img class="user-icon" src="../public/symbols/Union-user-icon.png" alt="user">
                </a>

                <ul class="dropdown-menu dropdown-menu-end p-3 shadow">
                    
                    <li class="d-flex align-items-center mb-3">
                        <img src="../public/symbols/Union-user-icon.png" alt="user" width="60" height="60" class="rounded-circle me-3">
                        <h6 class="mb-0 ">Nome Apelido</h6>
                    </li>

                    <li><hr class="dropdown-divider"></li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-2" href="perfil.html">
                            <img src="../public/symbols/Union-user-icon.png" alt="" width="35" height="35" class="rounded-circle bg-light p-1">
                            <span class="flex-grow-1">Edit Profile</span>
                            <span>></span>
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-2" href="tutorialPage.html">
                            <img src="../public/symbols/simbolo-interrogacao.png" alt="" width="35" height="35" class="rounded-circle bg-light p-1">
                            <span class="flex-grow-1">Tutorial</span>
                            <span>></span>
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-2" href="#">
                            <img src="../public/symbols/simbolo-logout.png" alt="" width="35" height="35" class="rounded-circle bg-light p-1">
                            <span class="flex-grow-1">Logout</span>
                            <span>></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="menuLateral" aria-labelledby="menuLateralLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="menuLateralLabel">Menu</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Fechar"></button>
                </div>

                <div class="offcanvas-body">
                    <a href="perfil.html" class="d-block text-white text-decoration-none mb-3">Perfil</a>
                    <a href="paginaInicial.html" class="d-block text-white text-decoration-none mb-3">Página inicial</a>
                    <a href="tutorialPage.html" class="d-block text-white text-decoration-none mb-3">Tutorial</a>
                    <a href="selectMultiplayerPage.html" class="d-block text-white text-decoration-none mb-3">Multiplayer</a>
                    <a href="#" class="d-block text-white text-decoration-none mb-3">Salas Privadas</a>
                    <a href="#" class="d-block text-white text-decoration-none">Terminar Sessão</a>
                </div>
            </div>
        </nav>
    </header>-->

    <!--<a href="loginPage.html"><img class="login" src="../public/images/botao-login-text.png" alt="login"></a>-->
    <a href="/login"><img class="login" src="/images/botao-login-text.png" alt="login"></a>
    <div class="container">
        <h1>Skriven</h1>
        <p> ipsum dolor sit amet, consectetur adipisicing elit. Iure id, rerum aliquid eveniet a nulla quas nesciunt doloribus accusamus, nisi nostrum, quo esse. Corrupti harum ut distinctio at aliquid sequi?
        </p>
    </div>
</div>
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<!--<script src="../public/js/script.js" defer></script>-->
<script src="/js/script.js" defer></script>

</body>
</html>