<!DOCTYPE html>

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="../public/css/style.css">-->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/offcanvas.css">
        <link rel="stylesheet" href="/css/salaPublicaPg.css">

        <title>Skriven</title>
    </head>
<body>
    <div>
        <%- include("partials/header") %>
    </div>


    <div class="salas-publicas-container">

        <div class="caixa-sala-publica">
            <img src="/images/fundo-btn-salas-publicas.png">
        </div>

        <div class="caixa-sala-publica">
            <img src="/images/fundo-btn-salas-publicas.png">
        </div>

        <div class="caixa-sala-publica">
            <img src="/images/fundo-btn-salas-publicas.png">
        </div>


    </div>
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js" defer></script>

</body>
</html>