<!DOCTYPE html>

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="../public/css/style.css">-->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/gamemodeMpSelecao.css">
        <link rel="stylesheet" href="/css/elementosSelecaoMultiplayerPg.css">

        <title>Skriven</title>
    </head>
<body>
    <div>
        <%- include("partials/header") %>
        <!--<header>
            <nav class="barra-navegacao">
            <a href="index.html"></a>
            <a href="perfil.html" class="perfil-link">
                <img class="perfil" src="../public/images/botao-perfil.png" alt="perfil">
                <img class="user-icon" src="../public/symbols/Union-user-icon.png" alt="user">
            </a>
            <img src="../public/images/logo-skriven.png" alt="Logo" class="nav-logo">
            <img src="../public/images/botao-menu-perfil.png" alt="botao-menu" class="botao-menu">
            </nav>
        </header>-->
    </div>
    
    <div class="botao-voltar-container">
        <!--<img src="../public/images/botao-sair.png" alt="voltar">-->
        <img src="/images/botao-sair.png" alt="voltar">
        <div class="overlay-text">Voltar</div>
        <!--<a href="paginaInicial.html"></a>-->
        <a href="/"></a>
    </div>
    <div class="game-modes-container">
        <div class="singleplayer-container">
            <!--<img src="../public/images/fundo-contorno.png" alt="fundo-contorno" class="fundo-contorno1">-->
            <img src="/images/fundo-contorno.png" alt="fundo-contorno" class="fundo-contorno1">
            <div class="singleplayer-icon-container">
                <!--<img src="../public/symbols/Vector-player1.png" alt="singleplayer-icon" class="singleplayer-icon-img">-->
                <img src="/symbols/Vector-player1.png" alt="singleplayer-icon" class="singleplayer-icon-img">
            </div>  
            <a href="/gameSinglePlayer">   
                <div class="botao-singleplayer-container">
                    <!--<img src="../public/images/botao-login.png" alt="botao-singleplayer" class="botao-singleplayer">-->
                    <img src="/images/botao-login.png" alt="botao-singleplayer" class="botao-singleplayer">
                        <div class ="botao-singleplayer-verde">
                            <!--<img src="../public/images/retangulo-verde-botao-login.png" alt="botao-singleplayer-verde" class="botao-singleplayer-verde">-->
                            <img src="/images/retangulo-verde-botao-login.png" alt="botao-singleplayer-verde" class="botao-singleplayer-verde">
                        </div>
                        <div class="overlay-text-singleplayer">Singleplayer</div>
                </div>
            </a>
        </div>

        <div class="multiplayer-container">
            <!--<img src="../public/images/fundo-contorno.png" alt="fundo-contorno" class="fundo-contorno2">-->
            <img src="/images/fundo-contorno.png" alt="fundo-contorno" class="fundo-contorno2">
            <div class="multiplayer-icon-container">
                <!--<img src="../public/symbols/multiplayer2.png" alt="multiplayer-icon" class="multiplayer-icon-img">-->
                <img src="/symbols/multiplayer2.png" alt="multiplayer-icon" class="multiplayer-icon-img">
            </div>     
            <!--<a href="gamemodeMultiplayer.html">-->
            <a href="/gameMultiplayerPlayer"> 
                <div class="botao-multiplayer-container">
                    <!--<img src="../public/images/botao-login.png" alt="botao-multiplayer" class="botao-multiplayer">-->
                    <img src="/images/botao-login.png" alt="botao-multiplayer" class="botao-multiplayer">
                        <div class ="botao-multiplayer-verde">
                            <!--<img src="../public/images/retangulo-verde-botao-login.png" alt="botao-multiplayer-verde" class="botao-multiplayer-verde">-->
                            <img src="/images/retangulo-verde-botao-login.png" alt="botao-multiplayer-verde" class="botao-multiplayer-verde">
                        </div>
                        <div class="overlay-text-multiplayer">Multiplayer</div>
                </div>
            </a>
        </div>
    </div>

<!--<script src="../public/js/script.js" defer></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js" defer></script>

    
</body>
</html>