<!DOCTYPE html>

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/css/style.css">
        <title>Skriven</title>
    </head>
<body>
    <div>
        <header>
            <nav class="barra-navegacao">
            <a href="index.html"></a>
            <a href="perfil.html" class="perfil-link">
                <img class="perfil" src="../public/images/botao-perfil.png" alt="perfil">
                <img class="user-icon" src="../public/symbols/Union-user-icon.png" alt="user">
            </a>
            <img src="../public/images/logo-skriven.png" alt="Logo" class="nav-logo">
            <img src="../public/images/botao-menu-perfil.png" alt="botao-menu" class="botao-menu">
            </nav>
        </header>
    </div>
    <div class="botao-voltar-container">
        <img src="../public/images/botao-sair.png" alt="voltar">
        <div class="overlay-text">voltar</div>
        <a href="loginPage.html"></a>
    </div>
    <!--<a href="loginPage.html"><img class="voltar" src="../public/images/botao-sair.png" alt="voltar"></a>-->
    
    <div class="caixa-fundo-container">
        <h1>Registo</h1>

        <!--<img src="../public/images/fundo-estrutura-registo-perfil.png" alt="caixa">-->
       <div class="user-icon2-container">
            <img id="perfil-img" src="../public/symbols/user-icon-2.png" alt="user-icon"> <!--id novo-->
        </div>
        <div class="alteraImagem-container">
            <!--<p>Alterar Imagem</p>-->

            <p id="texto-altera-imagem">Alterar Imagem</p>
            <div id="pop-up" class="popup">
                <div class="conteudo-popup">
                    <!--<p>Este conteudo é do pop-up.</p>-->

                    <label for="input-file" id="drop-area">
                        <input type="file" accept="image/*" id="input-file" hidden>
                        <div id="img-view">
                            <div class="upload-text">
                                <img src="../public/symbols/symbol_upload.png" alt="symbol-upload">
                                <p>Drag and drop or click here<br> to upload image</p>
                                <span> Upload any images from desktop</span>
                            </div>
                                

                        </div>
                    </label>
                    <div class="botoes-popup">
                        <button type="button" id="btn-remover">Remover</button>
                        <button type="button" id="btn-aplicar">Aplicar</button>
                    </div>
                </div>
            </div>

        </div>
        <div id="form-area-signup">
            <!--<input type="text" id="signup-input" placeholder="Nickname" class="caixa-texto">
            <input type="text" id="signup-input" placeholder="Username" class="caixa-texto">
            <input type="password" id="signup-input" placeholder="Password" class="caixa-texto">-->
        </div>
        <a href="loginPage.html" id="signup-link"> 
            <div class="fundo-verde-botao-signup">
                <div class="overlay-text-signup">SIGN UP</div>
                    <img src="../public/images/retangulo-verde-botao-login.png" alt="fundo-botao-signup">
            </div>
        </a>
        <div class="botao-signup-container">
            <img src="../public/images/botao-login.png" alt="botao-signup">
        </div>
    </div>
    <script src="../public/js/script.js"></script>
</body>

</html>