.fim-jogo-body {
    background-position: center;
    height: calc(100vh - 62px);
    margin: 0;
}

.overlay-box {
    background: #16381b;
    border-radius: 20px;
    color:#cdcdcd;
    max-width: 1200px;
    height: calc(100vh - 62px);
    max-height: 550px;
    width: 100%;
}

.stat-num {
    /*font-family: "Bree Serif", serif;*/
    /*font-weight: 550;*/
    /*font-style: normal;*/
    color:#cdcdcd;
    font-size: 35px;
    margin: 10px 0;
    text-align: center;
    height: 70px;

}

.stat-label {
    /*font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;*/
    color:#cdcdcd;
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
    height: 70px;

}

h2 {
    /*font-family: "Bree Serif", serif;
    font-weight: 500;
    font-style: normal;*/
    font-size: 40px;
    color:#cdcdcd;
    /*margin-bottom: 40px;*/

}


.mp-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    text-align: center;
    padding: 14px 20px;
    font-size: 30px;
    gap: 12px;
}

.mp-header {
    font-weight: bold;
    background-color: #3b5e39;    
    margin-bottom: 10px;
    font-size: 25px;
    margin-bottom: 12px;
    border-radius: 8px;

}

.player-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-size: 30px;
    font-weight: 500;
}

.player-pfp {
    width: 50px;
    height: auto;
}


.winner-text {
    margin-top: 40px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.pvp-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    margin: 5px 0px 45px;
}

.pvp-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

.player-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pvp-pfp {
    width: 50px;
    height: auto;
    margin-bottom: 5px;
}

.pvp-name {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.pvp-label {
    font-size: 25px;
    font-weight: 500;
}

.pvp-value {
    font-size: 25px;
    font-weight: bold;
}