body {
    position: relative; /*novo*/
    margin: 0; /*novo*/
    background-color: #1E4A25;
    color: white;
    overflow-block: hidden; /*overflow-block: scroll;*/
}

.barra-navegacao {
    background-color: #38623d;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 62px;
}

nav>a{
    float: right;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 6px 0 6px;
    text-decoration: none;
}

nav>a:hover{
    color: rgb(22, 160, 71);
}

nav>a:active{
    color: rgb(217, 185, 247);
}

.nav-logo {
    width: 170px;
    margin-top: 5px;
    /*margin-left: 5px;*/
    /*height: 50px;*/
}

.botao-menu {
    float: left;
    width: 65px;
    height: 65px;
    /*margin-top:1px;*/
    margin-left: 1px;
}

.login {
    float: right;
    width: 100px;
    height: auto;
    margin-top: 15px;
    margin-right: 15px;
}

.perfil {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    /*margin-left: 20px;*/
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 80px;
}

/*
.voltar{
    float: right;
    width: 100px;
    height: auto;
    margin-top: 15px;
    margin-right: 15px;
}*/

/*Inicio - bloco de codigo botao voltar -ecra sign in*/
.botao-voltar-container {
    position: absolute;
    /*display: inline-block;*/
    top: 80px;
    right: 15px;
    width: 100px;
    height: auto;
    overflow: hidden;
    z-index: 60; /*garantir que nao fica escondido por outros elementos*/
    /*background: none;*/
}

.botao-voltar-container img {
    float: right;
    width: 100px;
    height: auto;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.botao-voltar-container:hover img{
    filter: brightness(0.6); /*mais escuro*/
}

.overlay-text {
   position: absolute;
   top: 52%;
   left: 45%;
   transform: translate(-50%, -50%);
   color: white;
   text-align: center;
   /*font-family: Arial, sans-serif;*/
   font-size: 16px;
   /*pointer-events: none; /*texto nao atrapalha o clique*/
   transition: color 0.3s ease; /*mudanca de cor suave do texto*/

}

.botao-voltar-container:hover .overlay-text {
    color: rgb(166, 255, 166);
    /*text-shadow: 0 0 3px #000;*/
}

.botao-voltar-container a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: block;
}
/*Fim - bloco de codigo botao voltar -ecra sign in*/

/*Inicio - bloco de codigo caixa com os elementos de sign up - ecra sign up*/

.caixa-fundo-container {
    position: fixed;
    top: 30%;
    /*right: 50%;*/
    left: 41%;
    transform: translate(-50%, -50%);
    width: 968px;           /* Seu tamanho fixo */
    height: 500px;
    margin: 170px; /* Centraliza */
    background-color: #7bd08850;  /* Verde do Skriven (ajuste cor: rgba para transparência) */
    border-radius: 24px;     /* Cantos arredondados iguais (aumente para mais suave) */
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);  /* Sombra externa como na img */
}

.caixa-fundo-container h1 {
  margin: 0;
  padding: 25px 0 15px 0;
  position: relative;
  top: 5px;
  right: 25px;
  text-align: center;
  font-size: 36px;
}

/*
.user-icon2-container {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 140px;
    left: 150px;
}*/

.user-icon2-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 124px;
    
    /*position: absolute;
    top: 140px;
    left: 150px;*/
}

.user-icon2-container img {
    width: 150px;
    height: 150px;
    /*right: 40px;*/
    object-fit: cover;
    border-radius: 50%;
}

.alteraImagem-container {
    position: absolute;
    top: 310px;
    left: 170px;
}

.botao-signup-container {
    position: absolute;
    top: 380px;
    right: 430px;
    /*object-fit: cover;*/
    z-index: 2;
}

.botao-signup-container img {
    width: 150px;
    height: 55px;
    position: relative;
    z-index: 2;
}

.fundo-verde-botao-signup {
    position: absolute;
    top: 394px;
    right: 432px;
    /*display: flex;*/
    z-index: 3;
}

.fundo-verde-botao-signup img {
    width: 137px;
    height: 39px;
    position: relative;
    z-index: 1;
}

.overlay-text-signup {
   position: absolute;
   top: 46%;
   left: 47%;
   transform: translate(-50%, -50%);
   color: rgb(90, 133, 73);
   text-align: center;
   font-family: Arial, sans-serif;
   font-size: 16px;
   font-weight: bold;
   /*pointer-events: none; /*texto nao atrapalha o clique*/
   transition: color 0.3s ease; /*mudanca de cor suave do texto*/
   z-index: 10;
}

.fundo-verde-botao-signup:hover .overlay-text-signup{
    color: #1E4A25;
}

#form-area-signup {
    position: absolute;
    display: flex;
    top: 140px;
    left: 550px;
    gap: 20px;
    z-index: 10;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
}

.caixa-texto {
    padding: 15px;
    width: 250px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

/*Fim - bloco de codigo caixa com os elementos de sign in -ecra sign in*/



/*inicio - elementos para o login*/

.login-container {
    height: calc(100vh - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fundo-login {
    max-width: 75%;
    max-height: 75%;
}

.user-icon-container {
    position: absolute;
    width: 130px; 
    display: flex;
    justify-content: center;
    top: 20%;
}

.user-icon-img {
    width: 100%;
    height: auto;
}


.botao-login-container {
    position: absolute;
    width: 140px; 
    display: flex;
    justify-content: center;
    bottom: 25%;

}

.botao-login {
    width: 100%;
    height: auto;
}

.botao-login-verde {
    position: absolute;
    width: 128px; 
    display: flex;
    justify-content: center;
    bottom: 4%;
    left: 3.89%;
}

.botao-login-verde img{
    width: 100%;
    height: auto;
}

.overlay-text-login {
    position: absolute;
    color: rgb(90, 133, 73);
    top: 28%;
    left: 50px;
    text-align: center;
    font-size: 16px;
    transition: color 0.3s ease;
    font-weight: bold;
    z-index: 10;
}


.botao-login-container:hover .overlay-text-login{
    color: #1E4A25;
}


/*fim - elementos para o login*/


/*inicio - campos para meter username e password no login*/

#form-area-login {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 30px;
    left: 50%;
    transform: translateX(-50%);
    top: 45%; 
}

.login-input {
    width: 250px;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    display: block;
}



/*fim - campos para meter o username e password no login*/

.login-signup {
    position: absolute;
    width: 135px; 
    display: flex;
    justify-content: center;
    bottom: 19%;
}

.login-signup > a {
    color: #53b562;
    text-align: center;
    text-decoration: none;
}

.login-signup :hover {
    color:rgb(166, 255, 166);
    transition: color 0.3s ease;

}












/*Inicio - codigo do pop up para colocar/alterar imagem*/

#texto-altera-imagem {
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration:underline;
}
/*
.popup {
    display: none;
    position: fixed;
    inset: 0;
    top: 54%;              
    left: 50%;           
    transform: translate(-50%, -50%);  
    width: 100vw;         
    height: 101vh;        
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.conteudo-popup {
    background: white;
    padding: 30px;
    border-radius: 15px;
    max-width: 35vw;
    height: 35vh;
    width: 90%;
}
*/

.popup {
    display: none;         
    position: fixed;
    inset: -60px;                    
    background: rgba(31, 54, 32, 0.649);
    justify-content: center;      
    align-items: center;   
    border-radius: 24px;        
    z-index: 9999;   
}             

/*
.conteudo-popup {
    background: #05330B;
    padding: 30px;
    border-radius: 15px;
    max-width: 35vw;
    height: 35vh;
    width: 90%;
    display: flex;              
    justify-content: center;   
    align-items: center;       

}*/

.conteudo-popup {
    background: #05330B;
    padding: 30px;
    border-radius: 15px;
    max-width: 35vw;
    height: 40vh;
    width: 90%;
    display: flex;     
    flex-direction: column;         
    justify-content: center;   
    align-items: center;       

}


#img-view {
    width: 400px;
    height: 225px;
    border-radius: 20px;
    border: 2px dashed #81C96D;
    background: #205228;
    background-position: center;
    background-size: cover;
    margin-left: -5px;
    margin-top: 10px;
    display: flex;              
    flex-direction: column;     
    justify-content: center;    
    align-items: center;        
    text-align: center;         
}

#img-view img {
    width: 100px;
    margin-top: 10px;

}

#img-view span {
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 4px;
}

.botoes-popup {
    margin-top: 20px;
    display: flex;
    gap: 100px;
    justify-content: center;
}

.botoes-popup button {
    padding: 6px 14px;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    cursor: pointer;
    background: #81C96D;
    color: #05330B;
}


/*
.botoes-popup #btn-remover{
    background: #cc4b4b;
    color: #fff;
}
*/


/*Fim - codigo do pop up para colocar/alterar imagem*/


/* Inicio - icon-user na barra de navegacao */

.perfil-link {
    position: relative;
    display: inline-block;
}

.perfil {
    display: block;
}

.user-icon {
    position: absolute;
    top: 52%;
    left: 42%;
    width: 38px;
    height: 38px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/* Fim - icon-user na barra de navegacao */