body {
    position: relative; /*novo*/
    margin: 0; /*novo*/
    background-color: #1E4A25;
    color: white;
    overflow-block: hidden; /*overflow-block: scroll;*/

    /*novo - tirar se der problemas*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/* Inicio - barra de navegacao */

.barra-navegacao {
    background-color: #38623d;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;  
    height: 70px;
    padding: 0 20px;
    overflow: visible;
}

nav>a{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 6px 0 6px;
    text-decoration: none;
}

nav>a:hover{
    color: rgb(22, 160, 71);
}

nav>a:active{
    color: rgb(217, 185, 247);
}

.nav-logo {
    width: 170px;
    margin-top: 5px;
}


.botao-menu {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 65px;
    height: 65px;
    z-index: 900;
}

.user-dropdown {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99999; /* novo para que fique em cima de todos os elemntos da pagina */
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* Inicio - pop-up icon user na barra de navegacao */

.dropdown-menu {
    background: rgb(103, 147, 102);
    min-width: 280px;
    border-radius: 12px;
    border: none;
    color: #ffffff;             
}

.dropdown-menu .dropdown-item {
    color: #ffffff;               
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
    background-color: #244b2f;  
    color: #ffffff;          
}

/* fim - pop-up icon user na barra de navegacao*/

/* Fim - barra de navegacao */ 

.login {
    float: right;
    width: 100px;
    height: auto;
    margin-top: 15px;
    margin-right: 15px;
}

.perfil {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    /*margin-left: 20px;*/
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 80px;
}

/*Inicio - bloco de codigo botao voltar -ecra sign in*/
.botao-voltar-container {
    position: absolute;
    /*display: inline-block;*/
    top: 80px;
    right: 15px;
    width: 100px;
    height: auto;
    overflow: hidden;
    z-index: 60; /*garantir que nao fica escondido por outros elementos*/
    /*background: none;*/
}

.botao-voltar-container img {
    float: right;
    width: 100px;
    height: auto;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.botao-voltar-container:hover img{
    filter: brightness(0.6); /*mais escuro*/
}

.overlay-text {
   position: absolute;
   top: 52%;
   left: 45%;
   transform: translate(-50%, -50%);
   color: white;
   text-align: center;
   /*font-family: Arial, sans-serif;*/
   font-size: 16px;
   /*pointer-events: none; /*texto nao atrapalha o clique*/
   transition: color 0.3s ease; /*mudanca de cor suave do texto*/

}

.botao-voltar-container:hover .overlay-text {
    color: rgb(166, 255, 166);
    /*text-shadow: 0 0 3px #000;*/
}

.botao-voltar-container a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: block;
}
/*Fim - bloco de codigo botao voltar -ecra sign in*/

/*Inicio - bloco de codigo caixa com os elementos de sign up - ecra sign up*/

.caixa-fundo-container {
    position: fixed;
    top: 30%;
    /*right: 50%;*/
    left: 41%;
    transform: translate(-50%, -50%);
    width: 968px;           /* Seu tamanho fixo */
    height: 500px;
    margin: 170px; /* Centraliza */
    background-color: #7bd08850;  /* Verde do Skriven (ajuste cor: rgba para transparência) */
    border-radius: 24px;     /* Cantos arredondados iguais (aumente para mais suave) */
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);  /* Sombra externa como na img */
}

.caixa-fundo-container h1 {
  margin: 0;
  padding: 25px 0 15px 0;
  position: relative;
  top: 5px;
  right: 25px;
  text-align: center;
  font-size: 36px;
}

.user-icon2-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
    margin-left: 124px;
}

.user-icon2-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.alteraImagem-container {
    position: absolute;
    top: 310px;
    left: 170px;
}

.botao-signup-container {
    position: absolute;
    top: 380px;
    right: 430px;
    z-index: 2;
}

.botao-signup-container img {
    width: 150px;
    height: 55px;
    position: relative;
    z-index: 2;
}

.fundo-verde-botao-signup {
    position: absolute;
    top: 394px;
    right: 432px;
    /*display: flex;*/
    z-index: 3;
}

.fundo-verde-botao-signup img {
    width: 137px;
    height: 39px;
    position: relative;
    z-index: 1;
}

.overlay-text-signup {
   position: absolute;
   top: 46%;
   left: 47%;
   transform: translate(-50%, -50%);
   color: rgb(90, 133, 73);
   text-align: center;
   font-family: Arial, sans-serif;
   font-size: 16px;
   font-weight: bold;
   /*pointer-events: none; /*texto nao atrapalha o clique*/
   transition: color 0.3s ease; /*mudanca de cor suave do texto*/
   z-index: 10;
}

.fundo-verde-botao-signup:hover .overlay-text-signup{
    color: #1E4A25;
}

#form-area-signup {
    position: absolute;
    display: flex;
    top: 140px;
    left: 550px;
    gap: 20px;
    z-index: 10;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
}

.caixa-texto {
    padding: 15px;
    width: 250px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

/*Fim - bloco de codigo caixa com os elementos de sign in -ecra sign in*/


/*inicio - elementos para o login*/

.login-container {
    height: calc(100vh - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fundo-login {
    max-width: 75%;
    max-height: 75%;
}

.user-icon-container {
    position: absolute;
    width: 130px; 
    display: flex;
    justify-content: center;
    top: 20%;
}

.user-icon-img {
    width: 100%;
    height: auto;
}

.botao-login-container {
    position: absolute;
    width: 140px; 
    display: flex;
    justify-content: center;
    bottom: 25%;

}

.botao-login {
    width: 100%;
    height: auto;
}

.botao-login-verde {
    position: absolute;
    width: 128px; 
    display: flex;
    justify-content: center;
    bottom: 4%;
    left: 3.89%;
}

.botao-login-verde img{
    width: 100%;
    height: auto;
}

.overlay-text-login {
    position: absolute;
    color: #5a8549;
    top: 28%;
    left: 50px;
    text-align: center;
    font-size: 16px;
    transition: color 0.3s ease;
    font-weight: bold;
    z-index: 10;
}

.botao-login-container:hover .overlay-text-login{
    color: #1E4A25;
}

/*fim - elementos para o login*/


/*inicio - campos para meter username e password no login*/

#form-area-login {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 30px;
    left: 50%;
    transform: translateX(-50%);
    top: 45%; 
}

.login-input {
    width: 250px;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    display: block;
}

/*fim - campos para meter o username e password no login*/

.login-signup {
    position: absolute;
    width: 135px; 
    display: flex;
    justify-content: center;
    bottom: 19%;
}

.login-signup > a {
    color: #53b562;
    text-align: center;
    text-decoration: none;
}

.login-signup :hover {
    color:rgb(166, 255, 166);
    transition: color 0.3s ease;

}

/*Inicio - codigo do pop up para colocar/alterar imagem*/

#texto-altera-imagem {
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration:underline;
}

.popup {
    display: none;         
    position: fixed;
    inset: -60px;                    
    background: rgba(31, 54, 32, 0.649);
    justify-content: center;      
    align-items: center;   
    border-radius: 24px;        
    z-index: 9999;   
}             

.conteudo-popup {
    background: #05330B;
    padding: 30px;
    border-radius: 15px;
    max-width: 35vw;
    height: 40vh;
    width: 90%;
    display: flex;     
    flex-direction: column;         
    justify-content: center;   
    align-items: center;       

}

#img-view {
    width: 400px;
    height: 225px;
    border-radius: 20px;
    border: 2px dashed #81C96D;
    background: #205228;
    background-position: center;
    background-size: cover;
    margin-left: -5px;
    margin-top: 10px;
    display: flex;              
    flex-direction: column;     
    justify-content: center;    
    align-items: center;        
    text-align: center;         
}

#img-view img {
    width: 100px;
    margin-top: 10px;

}

#img-view span {
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 4px;
}

.botoes-popup {
    margin-top: 20px;
    display: flex;
    gap: 100px;
    justify-content: center;
}

.botoes-popup button {
    padding: 6px 14px;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    cursor: pointer;
    background: #81C96D;
    color: #05330B;
}

/*Fim - codigo do pop up para colocar/alterar imagem*/


/* Inicio - icon-user na barra de navegacao */

.perfil-link {
    position: relative;
    display: inline-block;
}

.perfil {
    display: block;
}

.user-icon {
    position: absolute;
    top: 52%;
    left: 42%;
    width: 38px;
    height: 38px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/* Fim - icon-user na barra de navegacao */



/*inicio - elementos do ecra de selecao de multiplayer*/
/*
.game-modes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: -50px; espaço entre os dois 
}


.singleplayer-container {
    height: calc(100vh - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 600px;
}

.fundo-contorno1 {
    max-width: 75%;
    max-height: 75%;
}

.singleplayer-icon-container {
    position: absolute;
    width: 170px; 
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.singleplayer-icon-img {
    width: 100%;
    height: auto;
}


.botao-singleplayer-container {
    position: absolute;
    width: 200px; 
    display: flex;
    justify-content: center;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);

}


.botao-singleplayer {
    width: 100%;
    height: auto;
}

.botao-singleplayer-verde {
    position: absolute;
    width: 182px; 
    display: flex;
    justify-content: center;
    bottom: 4%;
    left: 3.89%;
}

.botao-singleplayer-verde img{
    width: 100%;
    height: auto;
}


.overlay-text-singleplayer {
    position: absolute;
    color: rgb(90, 133, 73);
    top: 30%;
    text-align: center;
    font-size: 20px;
    transition: color 0.3s ease;
    font-weight: bold;
    z-index: 10;
}


.botao-singleplayer-container:hover .overlay-text-singleplayer{
    color: #1E4A25;
}





.multiplayer-container {
    height: calc(100vh - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 600px;
}

.fundo-contorno2 {
    max-width: 75%;
    max-height: 75%;
}

.multiplayer-icon-container {
    position: absolute;
    width: 250px; 
    display: flex;
    justify-content: center;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

}

.multiplayer-icon-img {
    width: 100%;
    height: auto;
}


.botao-multiplayer-container {
    position: absolute;
    width: 200px; 
    display: flex;
    justify-content: center;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);

}

.botao-multiplayer {
    width: 100%;
    height: auto;
}

.botao-multiplayer-verde {
    position: absolute;
    width: 182px; 
    display: flex;
    justify-content: center;
    bottom: 4%;
    left: 3.89%;
}

.botao-multiplayer-verde img{
    width: 100%;
    height: auto;
}


.overlay-text-multiplayer {
    position: absolute;
    color: rgb(90, 133, 73);
    top: 30%;
    text-align: center;
    font-size: 20px;
    transition: color 0.3s ease;
    font-weight: bold;
    z-index: 10;
}


.botao-multiplayer-container:hover .overlay-text-multiplayer{
    color: #1E4A25;
}

*/

/*fim - elementos do ecra de selecao de multiplayer*/



/*inicio - elementos do ecra de selecao de modo de jogo singleplayer*/



.geral-modos-sp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex: 1;
    transform: translateY(-62px);
}

.modos-singleplayer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    margin: 130px auto;
}


.coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.titulo-container {
    position: relative;
    margin-bottom: 35px;
    width: 220px;
}

.titulo-conteudo h5 {
    margin: 0;
    color: white;
    white-space: nowrap;
}

.bg-titulo {
    width: 220px;
    display: block;
}

.titulo-conteudo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-titulo-cr {
    width: 22px;
    height: auto;
}

.icon-titulo-desafio {
    width: 35px;
    height: auto;
}


.lista {
    position: relative;
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-opcoes {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding-top: 150px;
}


.item {
    position: relative;
    width: 240px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
    transition: 0.2s;
    z-index: 2;
}

.item:hover {
    transform: scale(1.15);
}

.item.selected {
    color: #4eff5a;
    transform: scale(1.15);


}

.bg-opcoes {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}


.option.selected {
    background-color: #00ff1566;
    color: white;
    border-color: #09a904;
}

.image-button {
    position: relative;
    display: block;
    /*margin: 170px auto 0;*/
    margin: 0 auto;
    border: none;
    background: transparent;
    padding: 0;
    width: 170px;
    height: 65px;
    background-image: url("../images/botao-login.png");
    background-size: cover;
    background-position: center;
}

.image-button img {
    position: absolute;
    width: 155px;
    height: auto;
    left: 7.5%;
    top: 24%;
}

.image-button:disabled img {
    opacity: 0.8;
}

.image-button:disabled {
    cursor: not-allowed;
}

.image-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1E4A25;
    font-weight: bold;
    pointer-events: none;
    transition: 0.2s;
}

.image-button:disabled span{
    color: #5a8549;
}

#custom-timer {
    position: absolute;
    top: 157%;
    left: 105%;
    transform: translateY(-50%);
    width: 120px;
    height: 40px;
    display: none;
    text-align: center;
    border-radius: 8px;
    border: none;
    background-color: rgb(166, 255, 166);
    color: #003809;
}

#custom-timer::placeholder {
    color: #1c4500;
}

#custom-num {
    position: absolute;
    top: 65%;
    left: 105%;
    transform: translateY(-50%);
    width: 120px;
    height: 40px;
    display: none;
    text-align: center;
    border-radius: 8px;
    border: none;
    background-color: rgb(166, 255, 166);
    color: #003809;
}

#custom-num::placeholder {
    color: #1c4500;
}

#custom-min {
    position: absolute;
    top: 109%;
    left: 105%;
    transform: translateY(-50%);
    width: 120px;
    height: 40px;
    display: none;
    text-align: center;
    border-radius: 8px;
    border: none;
    background-color: rgb(166, 255, 166);
    color: #003809;
}

#custom-min::placeholder {
    color: #1c4500;
}


#custom-max {
    position: absolute;
    top: 157%;
    left: 105%;
    transform: translateY(-50%);
    width: 120px;
    height: 40px;
    display: none;
    text-align: center;
    border-radius: 8px;
    border: none;
    background-color: rgb(166, 255, 166);
    color: #003809;
}

#custom-max::placeholder {
    color: #1c4500;
}


/*fim - elementos do ecra de selecao de modo de jogo singleplayer*/





/*início - elementos do ecrã de jogo singleplayer



.jogo-singleplayer-container {
    min-height: calc(100vh - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
}



.quadro-palavra-mestra {
    position: relative;
}


#palavra-mestra {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    position: absolute;
    top: 16%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}



.quadro-palavra-mestra img {
    height: auto;
    width: 400px;
}

.coluna-sp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.caixa-palavras-descobertas {
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.caixa-palavras-descobertas img {
    width: 80%;
}

#palavras-descobertas {
    position: absolute;
    top: 20px;
    left: auto;
}

#caixa-texto {
    padding: 12px;
    width: 30%;
    border-radius: 10px;
}


.caixa-pessoa {
    display: flex;
    align-items: center;
    gap: 10px;
}

.caixa-pessoa img {
    width: 50px;
    height: auto;
}


#finalizar-jogo {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #307940;
    color: #1E4A25;
    font-weight: bold;
    cursor: pointer;
    margin-top: 100px;
    transition: 0.2s;

}

#finalizar-jogo:hover {
    background-color: #45a855;
}

#timer-display {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #55784C;
    color: #ffffff;
    margin-top: 100px;
}



/*fim - elementos do ecrã de jogo singleplayer*/


/* Inicio - posicionamento icon user e texto alterar imagem na pagina do perfil */
.perfil-header {
    position: absolute;
    top: 330px;
    margin-left: 160px;
}

.user-icon2-perfil-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon2-perfil-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.alteraImagem-perfil-container {
    position: absolute;
    top: 200px;
    left: 45px;
}



/* Fim - posicionamento icon user e texto alterar imagem na pagina do perfil */



/* Inicio - botao sair pagina de perfil*/

.botao-sair-container {
    position: absolute;
    top: 80px;
    right: 15px;
    width: 100px;
    height: auto;
    overflow: hidden;
    z-index: 60; /*garantir que nao fica escondido por outros elementos*/
}

.botao-sair-container img {
    float: right;
    width: 100px;
    height: auto;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.botao-sair-container:hover img{
    filter: brightness(0.6); /*mais escuro*/
}

.overlay-text-perfil {
   position: absolute;
   top: 52%;
   left: 45%;
   transform: translate(-50%, -50%);
   color: white;
   text-align: center;
   font-size: 16px;
   transition: color 0.3s ease; /*mudanca de cor suave do texto*/
}

.botao-sair-container:hover .overlay-text-perfil {
    color: rgb(166, 255, 166);
}

.botao-sair-container a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: block;
}

/* Fim - botao sair pagina de perfil*/


/* Inicio - caixas de dados (como nickname, username, password) e caixas de texto usando imagem pagina do perfil */

.coluna-caixas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 278px;
    margin-left: 440px;
}

.grupo-campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

.label-campo {
    width: 90%;
    margin: 0 0 2px 0;   
    color: #ffffff;
    font-size: 18px;
    text-align: left;
    padding-left: 5px; }    /*recuo do texto para alinhar com o texto dentro da caixa */


.caixa-texto-imagem {
    width: 220px;
    height: 45px;
    /*background-image: url("../../public/images/barra-insere-texto-perfil.png");*/
    background-image: url("/images/barra-insere-texto-perfil.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10px;
}

.caixa-texto-imagem input {
    background: rgba(0, 0, 0, 0.1);    
    width: 90%;
    height: 22px;
    padding: 4px 8px;
    line-height: 1.4;
    background: transparent ;    /* !important */
    border: none ;               /* !important */
    outline: none;                       
    border-radius: 0;                   
    font-size: 18px;
    color: #ffffff ;
    z-index: 8888;                           /* !important */ 
}

/* Fim - caixas de dados (como nickname, username, password) e caixas de texto usando imagem pagina do perfil */

/* Inicio - texto para ir para pagina de alterar palavra passe atraves do click */

.texto-alterar-password {
    display: inline-block;
    width: fit-content;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 32px;
    z-index: 900;
}

.texto-alterar-password:hover {
    text-decoration: underline;
}

#erroPassword{
    color: #910a0a !important; 
    font-weight: bold;
}

/* Fim - texto para ir para pagina de alterar palavra passe atraves do click */

/* Inicio - quadro estatisticas na pagina do perfil */


.quadro-estatistico-container {
    position: absolute;
    /*top: 50%;
    left: 70%;*/
    inset: 0;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 560px;
    z-index: 10;
}

.img-quadro {
    position: absolute;
    /*inset: 0;*/
    top: 460px;
    left: 1090px;
    width: 95%;
    height: 94%;
    object-fit: contain;
    z-index: 1;
}

.fundo-verde-quadro-estatistico {
    position: absolute;
    top: 502px;
    left: 1142px;
    width: 322px;
    height: 448px;
    z-index: 2;
}

.img-fundo-verde {
    width: 100%;
    height: 100%;
    display: block;
}




/* Inicio - dados estatisticos quadro da pagina do perfil */


.stats-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 18px 16px;
    box-sizing: border-box;
    z-index: 3;
    color: white;
}


.stats-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.stat-item {
    display: flex;
    flex-direction: column;
    gap: 3px;
    
    
}

.stat-label {
    font-size: 25px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    
}

.stat-value {
    font-size: 20px;
    font-weight: 700;
    color: rgb(104, 226, 119);
}    

/* Fim - dados estatisticos quadro da pagina do perfil */

/* Fim - quadro estatisticas na pagina do perfil */

/* Inicio - botao terminar sessao pagina do perfil */

.zona-botao-termina {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9000;
}

.botao-terminar-sessao {
    position: relative;
    display: block;
    width: 180px;
    height: 43px;
    text-decoration: none;
    z-index: 90000;
}

.botao-terminar-sessao img {
    display: flex;
    width: 180px;
    height: 43px;
    pointer-events: none;
}

.overlay-text-termina-sessao {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-weight: bold;
    white-space: nowrap;
    pointer-events: none;
}

.botao-terminar-sessao:hover .overlay-text-termina-sessao {
    color: rgb(255, 57, 57);
}

.botao-terminar-sessao:hover img {
    filter: brightness(0.8);
}

/* Fim - botao terminar sessao pagina do perfil */

/*Inicio - Barra pop-up para guardar as alteracoes feitas aquando da alteracao do nickname na pagina de perfil */

#save-bar {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%) translateY(100px);
  z-index: 1055;
  min-width: 320px;
  max-width: 90vw;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

#save-bar.show {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
  pointer-events: auto;
}

/*Fim - Barra pop-up para guardar as alteracoes feitas aquando da alteracao do nickname na pagina de perfil */

/* Inicio - caixa para altera a palavra passe na pagina alteraPalavraPasse */

.card {
  margin-top: 150px;
  background-color: #a6e5ac91;
  border: 1px solid #a6e5ac91;
  border-radius: 12px;
}

.form-control {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #043c03;
}

.form-control::placeholder {
  color: #ffffff;
}

.form-control:focus {
  background-color: #ffffff;
  border-color: #ededed;
  box-shadow: 0 0 0 0.2rem rgba(0, 51, 8, 0.655);
}

.btn-primary {
  background-color: #1c762f;
  border-color: #1c762f;
  color: white;
}

.btn-primary:hover {
  background-color: #ffffff42;
  border-color: #f4f4f4;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(68, 248, 113, 0.25);
}

/* Fim - caixa para altera a palavra passe na pagina alteraPalavraPasse */

/* inicio - menu off-canvas*/


.offcanvas {
    background-color: #38623d !important;
    color: white !important;
}

.offcanvas-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 23px;
}

.offcanvas .offcanvas-title {
    color: white !important;
}

.offcanvas .offcanvas-body a {
    color: white !important;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
}

.offcanvas .offcanvas-body a:hover {
    color: #eaeaea !important;
}

 /*fim - menu off-canvas*/

/* Inicio - container da pagina do mode multiplayer 
/*
.container-mode-multiplayer {
    position: relative;
    width: 100%;
    padding-left: 130px;
    padding-right: 40px;
    box-sizing: border-box;
    margin-top: 140px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    transform: none;
}

.btn-cria-sala, .btn-sala-privada, .btn-sala-publica{
    width: 360px;
    height: auto;
}

 Fim - container da pagina do mode multiplayer */


/* Inicio - implementacao da caixa que vai fazer de botao para entrar/selecionar uma sala publica */

.salas-publicas-conatiner {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* Fim - implementacao da caixa que vai fazer de botao para entrar/selecionar uma sala publica */

