body {
    background-color: #1E4A25;
    color: white;
    overflow-block: hidden; /*overflow-block: scroll;*/
}

.barra-navegacao {
    background-color: #38623d;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 62px;
}

nav>a{
    float: right;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 6px 0 6px;
    text-decoration: none;
}

nav>a:hover{
    color: rgb(22, 160, 71);
}

nav>a:active{
    color: rgb(217, 185, 247);
}

.nav-logo {
    width: 170px;
    margin-top: 5px;
    /*margin-left: 5px;*/
    /*height: 50px;*/
}

.botao-menu {
    float: left;
    width: 65px;
    height: 65px;
    /*margin-top:1px;*/
    margin-left: 1px;
}

.login {
    float: right;
    width: 100px;
    height: auto;
    margin-top: 15px;
    margin-right: 15px;
}

.perfil {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    /*margin-left: 20px;*/
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 80px;
}

/*
.voltar{
    float: right;
    width: 100px;
    height: auto;
    margin-top: 15px;
    margin-right: 15px;
}*/

/*Inicio - bloco de codigo botao voltar -ecra sign in*/
.botao-voltar-container {
    position: absolute;
    /*display: inline-block;*/
    top: 80px;
    right: 15px;
    width: 100px;
    height: auto;
    overflow: hidden;
    z-index: 100; /*garantir que nao fica escondido por outros elementos*/
    /*background: none;*/
}

.botao-voltar-container img {
    float: right;
    width: 100px;
    height: auto;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.botao-voltar-container:hover img{
    filter: brightness(0.6); /*mais escuro*/
}

.overlay-text {
   position: absolute;
   top: 52%;
   left: 45%;
   transform: translate(-50%, -50%);
   color: white;
   text-align: center;
   font-family: Arial, sans-serif;
   font-size: 16px;
   /*pointer-events: none; /*texto nao atrapalha o clique*/
   transition: color 0.3s ease; /*mudanca de cor suave do texto*/

}

.botao-voltar-container:hover .overlay-text {
    color: rgb(166, 255, 166);
    /*text-shadow: 0 0 3px #000;*/
}

.botao-voltar-container a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: block;
}
/*Fim - bloco de codigo botao voltar -ecra sign in*/


.login-container {
    height: calc(100vh - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo-login {
    max-width: 75%;
    max-height: 75%;
}

.user-icon {

    
}